.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.is-invalid {
  border-color: #dc3545;
}

.login-container {
  height: 100vh;
  background: #f5f7fa;
}

.login-card {
  width: 400px;
  height: 400px;
  border-radius: 15px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  background: #fff;
}

.login-input {
  border-radius: 50px;
  border: 1px solid #ced4da;
}

.login-button {
  border-radius: 50px;
  background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);
  color: #fff;
}

.register-link {
  color: #6c757d;
}

/* make page responsive */ 
@media (max-width: 768px) {
  .App,
  .App-header {
    font-size: 1.5rem;
  }

  .App-logo {
    height: 30vmin;
  }

  .login-card {
    width: 90%;
    height: auto;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
